<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.mingy.jsfs.ui.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="JSFS Perspective"
            class="org.mingy.jsfs.ui.Perspective"
            id="org.mingy.jsfs.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.mingy.jsfs.ui.StaffEditor"
            id="org.mingy.jsfs.ui.StaffEditor"
            name="员工维护">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.ViewStaffEditor"
            id="org.mingy.jsfs.ui.ViewStaffEditor"
            name="查看员工">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.GoodsEditor"
            id="org.mingy.jsfs.ui.GoodsEditor"
            name="商品维护">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.ViewGoodsEditor"
            id="org.mingy.jsfs.ui.ViewGoodsEditor"
            name="查看商品">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.RewardRuleEditor"
            id="org.mingy.jsfs.ui.RewardRuleEditor"
            name="规则维护">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.ViewRewardRuleEditor"
            id="org.mingy.jsfs.ui.ViewRewardRuleEditor"
            name="查看规则">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.SalesLogListEditor"
            id="org.mingy.jsfs.ui.SalesLogListEditor"
            name="销售记录">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.SalesLogStatEditor"
            id="org.mingy.jsfs.ui.SalesLogStatEditor"
            name="销售汇总">
      </editor>
      <editor
            class="org.mingy.jsfs.ui.SalaryListEditor"
            id="org.mingy.jsfs.ui.SalaryListEditor"
            name="工资清单">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.mingy.jsfs.ui.CatalogView"
            id="org.mingy.jsfs.ui.CatalogView"
            name="目录浏览">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            name="目录浏览"
            description="打开目录浏览视图"
            id="org.mingy.jsfs.ui.openCatalog">
      </command>
       <command
            name="输入销售记录..."
            description="输入一条销售记录"
            id="org.mingy.jsfs.ui.inputSalesLog">
      </command>
      <command
            name="查询销售记录..."
            description="根据输入条件查询销售记录"
            id="org.mingy.jsfs.ui.querySalesLog">
      </command>
      <command
            name="锁定销售记录..."
            description="锁定销售记录以防篡改"
            id="org.mingy.jsfs.ui.lockSalesLog">
      </command>
      <command
            name="统计销售记录..."
            description="根据输入条件统计销售记录"
            id="org.mingy.jsfs.ui.statSalesLog">
      </command>
      <command
            name="计算工资..."
            description="根据销售记录和规则计算月工资"
            id="org.mingy.jsfs.ui.calcSalary">
      </command>
      <command
            name="数据备份..."
            description="将数据库备份到文件"
            id="org.mingy.jsfs.ui.backupDatabase">
      </command>
      <command
            name="数据还原..."
            description="根据备份文件还原数据库"
            id="org.mingy.jsfs.ui.restoreDatabase">
      </command>
      <command
            name="控制台"
            description="打开控制台以显示日志"
            id="org.mingy.jsfs.ui.openConsole">
      </command>
      <command
            name="登录..."
            description="以其他身份登录"
            id="org.mingy.jsfs.ui.login">
      </command>
      <command
            name="注销"
            description="注销当前身份"
            id="org.mingy.jsfs.ui.logout">
      </command>
      <command
            name="更改口令..."
            description="更改当前身份的口令"
            id="org.mingy.jsfs.ui.changePassword">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.mingy.jsfs.ui.openCatalog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R">
      </key>
      <key
            commandId="org.mingy.jsfs.ui.inputSalesLog"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+I">
      </key>
      <key
            commandId="org.mingy.jsfs.ui.openConsole"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+L">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
               id="org.mingy.jsfs.ui.NewStaffWizard"
               name="员工"
               class="org.mingy.jsfs.ui.NewStaffWizard"
               canFinishEarly="true"
               hasPages="false">
         </wizard>
         <wizard
               id="org.mingy.jsfs.ui.NewGoodsWizard"
               name="商品"
               class="org.mingy.jsfs.ui.NewGoodsWizard"
               canFinishEarly="true"
               hasPages="false">
         </wizard>
         <wizard
               id="org.mingy.jsfs.ui.NewRewardRuleWizard"
               name="提成规则"
               class="org.mingy.jsfs.ui.NewRewardRuleWizard"
               canFinishEarly="true"
               hasPages="false">
         </wizard>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.mingy.jsfs.application"
            name="门店记账结算系统">
         <property
               name="appName"
               value="门店记账结算系统">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="基于RCP的一个简单的门店记账结算系统。&#x0A;Email：zhengmao.w@gmail.com">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
 
</plugin>
